body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.i_design{
  margin:auto ;
  padding: 0px 20px;
}
.nav_color{
  color: white;
  margin: auto;
  font-size: 0.80rem;
}
.main-header{
  /* border:10px solid rgb(230, 100, 100); */
  height: 2.6rem;
  /* width: 75%; */
  /* margin: auto; */
}
.nav_color:hover{
  color: rgb(255,109,52);
}
.signin_btn_decore{
  height: 2.6rem;
  background-color: rgb(255,109,52);
  color: white;
  border: solid rgb(255,109,52);
  border-radius: 0;
;
}
.signin_btn_decore:hover{
  background-color: white;
  color: rgb(255,109,52);
  border: solid white;
}
