.App{
  text-align: center;
}
.dashboard{
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}
.cards_row{
  display: grid;
  grid-template-rows: repeat(2,1fr);
  grid-template-columns: repeat(auto-fill, minmax(15rem,15rem));
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
}
.sidebar{
  margin: 2%;
  color: #fff;
  background-color: black;
  width: 20%;
  height: 100%;
  padding: 2%;
  text-align: center;
  border-radius: 20px;
}
.sidebar h2{
  margin-bottom: 10%;
  font-size: 150%;
}
.sidebar ul{
  margin: 0;
  padding: 0;
}
hr{
  margin: 0;
  padding: 0;
}
.sidebar li{
  display: list-item;
  list-style: none;
  padding: 2%;
}
.sidebar li:hover{
  border-radius: 20px;
  background-color: #28282B;
}
.sidebar a{
  text-decoration: none;
  color: #fff;
}
.cards_group{
  width: 75%;
}
.cards{
  display: inline-flex;
}
.temp-img{
  width: 70%;
  text-align: center;
  margin: 0 15%;
  height: 70%;
}
.card{
  margin: 2%;
  width: 50%;
}
.Login-Form{
  width: 35%;
  background-color: #fff;
  margin: auto;
  margin-top: 0.2%;
  padding: 1.5%;
  box-shadow: 0px 0px 0px 1px rgb(227, 227, 227);
  border-radius: 15px;
}
.login{
  width: 100%;
  margin: auto;
  text-align: justify;
}
.display-6{
  font-weight: 700;
  font-size: 2rem;
  padding: 1rem 0 1rem 0;
}
.Toggle{
  margin-top: 2rem;
}
.d-grid{
  margin: 1rem 0 1rem 0;
}
.d-grid button{
  background-color: #00bda6;
  border: none;
  border:1px solid #00bda6;
}
.d-grid button:hover{
  background-color: #fff;
  color: #00bda6;
  border:1px solid #00bda6;
}

.d-grid button:active{
  background-color:transparent;
  color: #00bda6;
  /* border:1px solid #00bda6; */
  /* border: #f5af93; */
}
.arrow{
  display: flex;
}

.back-arrow{
  font-size: 2rem;
  color: rgb(255,109,52);
  /* border: #00bda6 1px solid; */
  text-align: left;
  margin: 1rem 0 0 3rem;
}
.back-arrow:hover{
  color: rgb(255, 135, 88);
}
.Forgot-Pass{
  text-decoration: none;
  text-align: justify;
  color: #00bda6;
}

.Forgot-Pass:hover{
  text-decoration: none;
  color: #00bda6;
}

.Catlogs{

  width: 85%;
  margin: auto;
  /* border: #00bda6 1px solid; */
  padding: 4rem;
  /* box-shadow: 0px 0px 30px 1px rgb(227, 227, 227); */
  border-radius: 15px;
  margin-top: 4rem;
}

.cat-cards{
  width: 90%;
  margin: auto;
  /* border: 1px red solid; */
  box-shadow: 0px 0px 20px 1px rgb(234, 234, 234);
  border: 1px solid rgb(234, 234, 234);
  border-radius: 20px;
  font-size: 14px;
  /* margin: 1rem; */
  /* padding: 1rem; */
}
.cat-img{
  height: 13rem;
}
.btn{
  font-size: 13px;
  background-color:rgb(255,109,52);
  border: none;
}

.btn:hover{
  font-size: 13px;
  background-color: rgb(255, 135, 88);
  border: none;
}
.col1{

  /* border: #00bda6 1px solid; */
  display: flex;
  margin: 2rem;
  /* height: 2px; */
}
.Catlog-Para{
  font-size: 0.85rem;
}


.Reset-Form{

  width: 35%;
  background-color: #fff;
  margin: auto;
  margin-top: 6rem;
  padding: 1.5rem;
  box-shadow: 0px 0px 0px 1px rgb(227, 227, 227);
  border-radius: 15px;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.i_design{
  margin:auto ;
  padding: 0px 20px;
}
.__color{
  color: white;
  margin: auto;
  font-size: 0.80rem;
}
.main-header{
  height: 2.6rem;
  /* font-size: 11px; */
  color: #fff;
  /* border: #00bda6 1px solid; */
  /* margin: 1rem; */
  padding: 1rem;
}
.nav-mail{
  font-size: 12px;
}
.nav_color{
  margin: auto;
  color: #fff;
  font-size: 14px;
}
.nav_color:hover{
  color: rgb(255, 135, 88);
}
.signin_btn_decore{
  height: 2.6rem;
  background-color: rgb(255,109,52);
  color: white;
  text-decoration: none;
  font-size: 14px;
  padding: 0.5rem;
  padding-top: 0.4rem;
  border:1px solid rgb(255,109,52);
  border-radius: 0;
;
}
.signin_btn_decore:hover{
  background-color: white;
  color: rgb(255, 135, 88);
  font-size: 14px;
  padding-top: 0.4rem;
  border:1px solid rgb(255, 135, 88);
}
.main-container{
  /* border: #00bda6 1px solid; */
  width: 70%;
  /* border: #00bda6 3px solid; */
  margin: auto;
}

.main-container-navbar{

  width: 90%;
  /* border: 1px solid rgb(255,109,52); */
  /* padding: 0.2rem 1rem 0 1rem; */
  backdrop-filter: blur(1%);
  margin:auto;
}
.nav_brand_margin{
  /* border: #00bda6 1px solid; */
  margin: 0rem 0rem 0rem 4rem;
}
.nav_padding{
  /* border: #00bda6 1px solid; */
  /* width: 5rem; */
  text-align: center;
  text-decoration: none;
  /* padding-left: 6px; */
  margin: 1rem;
  /* margin:0.8rem 0rem 0rem 2rem; */
  color: white;
  font-size: 15px;
  font-weight: 400;
}
.nav_padding:hover{

  color: rgb(255, 135, 88);

}

.dropdown_padding{
  /* border: #00bda6  1px solid; */
  font-size: 15px;
  /* text-align: center; */
  margin: 0.5rem 0rem 0rem 0rem;
  font-weight: 600;
}

.drop-down-menu{
  text-decoration: none;
  align-items: center;
  /* border: #00bda6 solid; */
  margin: auto;
  text-align: justify;
  margin: 0.8rem 0rem 0.5rem 0.6rem;
  color: #626262;
}

.drop-down-menu:hover{
  color: rgb(255, 135, 88);

}

#navbarScrollingDropdown:hover{
  color: rgb(255, 255, 255);
}

.background_image{
  background-image: url("./home_slider_bg.jpg");
  background-size:cover;
  width: 100%;
  height: 50rem;
}

.login-container{

  background-color: #28282B;
  height: 54rem;

}
#navbarScrollingDropdown{
  color: rgb(255,109,52);
}

.home-icon{
  /* border: #00bda6 1px solid; */
  padding: 0;
  margin: -0.5rem 6rem 0 0;

}

.titlebar_home{
  margin: 9rem 0rem 0rem 12rem;
  width: 30%;
  color: white;
  text-align: left;
  font-size: 1rem;
}
.grey_titilebar{
  color:rgb(218, 213, 213);
  margin: 13px 0px 20px 0px;
}
.titlebar_btn{
  border: 2px solid rgb(255,109,52);
  background-color: rgb(255,109,52);
  font-weight: bold;
  height: 3rem;
}
.titlebar_btn:hover{
  border: 2px solid rgb(255, 135, 88);
  background-color: white;
  color: rgb(255, 135, 88);

}

.selectQuiz-main{
  width: 50%;
  margin: auto;
  /* margin-top: 1rem ; */
  padding: 3rem;
  box-shadow: 0px 0px 30px 1px rgb(227, 227, 227);
  border-radius: 5px;
}
.selectQuiz-list{
  width: 70%;
  margin: auto; 
  padding: 1rem;
  border: 1px solid rgb(198, 198, 198) ;
  text-decoration: none;
  border-radius: 5px;
  color: #28282B  ;
}


.StartQuiz{
  /* border: 1px solid; */
  box-shadow: 0px 0px 30px 1px rgb(227, 227, 227);
  border-radius: 5px;
  width: 50%;
  margin: auto;
  margin-top: 4rem;
}

.start-quiz-body{

  /* border: red solid; */
  margin: auto;

  width: 90%;
}

.Quiz-Question{
  width: 100%;
  margin: auto; 
  text-align: left;
  padding: 1rem;

  /* border: #033a34 1px solid; */
}

/* .Quiz-option{
  margin: auto;
  width: 50%;
  display: flex; 
  padding: 5px;
  justify-content: center; 
  border: #28282B solid;

} */

.quiz-container {
  max-width: 50%;
  margin: 0 auto;
  padding: 20px;
  padding-left: 6rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.quiz-header {
  text-align: center;
  /* margin-bottom: 20px; */
  font-size: 36px;
  font-weight: 300;
  margin-top: 4rem;
}

.quiz-form {
  display: flex;
  flex-direction: column;
}

.question-container {
  margin-bottom: 20px;
  text-align: left;
}

.question-text {
  font-size: 18px;
  margin-bottom: 10px;
}

.options-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.radio-option {
  margin-bottom: 10px;
  text-align: left;
}

.submit-btn {
  margin-top: 20px;
  align-self: center;
}




.ham_button{
  /* border: #00bda6 1px solid; */
  display: flex;
  /* width: 2rem; */
  margin: 1rem;
  font-size: 22px;
  background-color: rgb(161, 161, 161);
  border: 1px solid rgb(161, 161, 161);
  border-radius: 5px;
  color: #fff;
}


.ham_button:hover{
  /* border: #00bda6 1px solid; */
  display: flex;
  margin: 1rem;
  font-size: 22px;
  background-color: rgb(207, 207, 207);
  border: 1px solid rgb(161, 161, 161);
  color: #fff;
}

.ham-Header{
  width: 95%;
  justify-content: end;
  margin: auto;
  font-weight: 200;
  padding: 0.3rem;
  /* border: #00bda6 1px solid; */
}

.ham-title{
  text-align: center;
  font-weight: 600;
  /* margin: 1rem; */
  /* border: 1px solid #00bda6; */
  padding: 1rem;

}

.ham-list{
  font-weight: 200;
}
.exit{
  margin-left: 0.5rem;
  color: #8e8e90;
}
.drawer-container{
  height: 1rem;
  opacity: 95%;
  /* border: #00bda6 4px solid; */
}

/* ####################################################################################################### */
.aboutUs{
  width: 80%;
  text-align: left;
  margin: auto;
  margin-top: 4%;
}

.about_color{
  color: rgb(255,109,52);
}

.about_flex{
  display: flex;
  margin: 3rem 0rem;
}

.list_spacing{
  margin:2rem 0rem;
  width: 40%;
}

.ContactUs{
  border-radius: 20px;
  width: 60%;
  height: 40rem;
  box-shadow: 0px 0px 20px rgb(255,109,52);
  text-align: center;
  margin: auto;
  margin-top: 5%;
  padding: 20px;
  padding-top:4%
}
.main-flex{
  margin-top: 7%;
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
}
#information{
  padding: 1% 3% ;
}
.contact_color{
  color: rgb(255,109,52);
}
.coler{
  color: rgb(255,109,52);
}

.contact_second{
  margin: 3% 0%;
}




/* ########################################################################## */

.second_home{
 
  display: flex;
  flex-wrap: nowrap;
  text-align: left;
  color: white;
  width: 70%;
  margin: auto;
}
.bg_color_home{
  background-color: rgb(0,189,166);
  width: 100%;
  height: 23rem;
}

.icon_size{
  font-size: 3rem;
  margin: 1rem 0rem;
}
.icon_size:hover{
  color: rgb(255, 135, 88);
}

.second_data{
  margin: 3rem 0px 0px 0px;
  padding: 0rem 3rem;
}


.feedback{
  margin-top: -10rem;
  background-color: white;
  border-radius: 30px;
  height: 22rem;
  width: 21rem;

}

.feedback_bg{
  background-color: rgb(255,109,52);
  height: 6rem;
  border-radius: 20px 20px 0px 0px;
}
.feedbback_center{
  /* margin: auto; */
  padding: 1.7rem;
  text-align: center;
  font-weight: 300;
  /* width: 80%; */
  /* border: #00bda6 1px solid; */
}

.feedback_field{
  width: 90%;
  margin: auto;
  margin-top: 1.5rem;
  padding: 1rem;
  /* font-size: 12px; */
  /* border: #00bda6 1px solid; */
  /* margin-top: 2rem; */
}
.field-set{

  font-size: 13px;


}


.feedback_btn{
  width: 100%;
  margin: auto;
  margin-top: 1rem;
  color: #ffff;
}

/* ############################################################################ */

.third_home{
  width: 40%;
  margin: auto;
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.fotter_bg{
  background-color: rgb(18,20,27);
}

.fotter_main{
  display: flex;
  margin: auto;
  width:80%;
  height: 15rem;
  color: white;
  text-align: left; 
  font-size: 0.7rem;
  padding-top: 2rem;
  /* border: #00bda6 solid; */
  /* margin-top: 1rem; */
}
.footer-con{
  /* border: solid rgb(62, 58, 56); */
  text-align: justify;
  padding: 4rem 2rem 2rem 4rem;

}
.footer_spacing{
  /* border: red solid; */
  text-align: center;
  /* margin: 2rem 0rem 0rem 2rem; */
  margin: auto;
}
.p_hover:hover{
  color:rgb(255,109,52)
}
.p_hover{
  text-align: center;
}
.ft_allign{
  text-align: center;
}

.footer_last{
  background-color: black;
  color: #8e8e90;
  font-size: 12px;
  height: 1.2rem;
  margin: auto;
}

.aboutus_bg{
background-image: url("./Images/aboutus_bg.jpg");
background-size:cover;
width: 100%;
height: 20rem;
}
.contats_h{
  color: white;
  margin: 3.5rem 0rem;
}

/* ################################################################################## */

.lms_home{
  background-color:rgb(40,40,43);
  height: 100%;
}

.nav_bg{
  background-color: darkgray;
  height: 3rem;
}

.nav_lms_center{
  color: white;
  font-size: 12px;
}
.lms_n{
  height: 100%;
  margin: auto;
  padding: 0rem 1rem;
  font-size: 14px;
}

.latest_course{
  width: 60%;
  margin: auto;

  color: white;
  text-align: left;
}

.latest_flex{
  display: flex;
}

.lms_card{
  box-shadow: 0 4px 8px 0;
  margin: 1rem 1rem;

}

.instructor{

  width: 60%;
  /* border: #28282B solid 1px; */
  margin: 5rem auto 5rem auto;
  padding: 2rem;
  display: flex;
  box-shadow: 0px 0px 30px 1px rgb(210, 209, 209);
  border-radius: 15px;
  /* margin-bottom: 5rem; */


}
.inst-img{
  /* width: 100%; */
  border-radius: 15px;
  height: 25rem;
  margin-left: -80px;
  margin-top: -75px;
  margin-right: 3rem;
}
.instructor p{
  font-size: 16px;
  text-align: justify;
  margin: 1.5rem;
}
.instructor h6{
  font-size: 18px;
  color: #00bda6;
}
.instructor h3{
  font-size: 36px;
}


